* {
  text-align: center;
}

.not-found-image {
  background-image: url("./assets/notfound.png");
  background-color: gray;
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-radius: 25px;
}

.rapper-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 2rem 0;
}