* {
  text-align: center;
}

#notFound-image {
  background-image: url("./assets/notfound.png");
  background-color: gray;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rapper-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 2rem 0;
}